@import "tailwindcss";

:root {
  --backgroudCard: #E6F1FD;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  --color-backgroundCard: #E6F1FD;
  --color-moradoClaro: #EDEEFC;
  --color-heroBg: #ECF6FF;
}

@layer utilities {
  .clip-circle-0 {
    clip-path: circle(0% at top right);
  }
  .clip-circle-full {
      clip-path: circle(150% at top right);
  }
  .clip-circle-none {
      clip-path: none;
  }
  
}

body {
  background: var(--background);
  color: var(--foreground);
}
